/* Estilos generales para el offcanvas */
.offcanvas {
    position: fixed;
    top: 0;
    right: -1200px; /* El menú empieza fuera de la vista en pantallas grandes */
    width: 1200px; /* Aumenta el ancho para pantallas grandes */
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Transición suave al mostrar y ocultar */
    z-index: 1001; /* Asegura que el menú esté por encima del overlay */
}

.offcanvas.active {
    right: 0; /* Mostrar el menú moviéndolo dentro de la vista */
}

.offcanvas-content {
    padding: 20px; /* Añade un padding de 20px en todo el contenido */
}

/* Márgenes para el texto dentro del panel */
.offcanvas-content h5, .offcanvas-content p {
    margin-left: 30px;  /* Margen izquierdo */
    margin-right: 30px; /* Margen derecho */
    margin-top: 15px;   /* Margen superior */
    margin-bottom: 15px;/* Margen inferior */
}

/* Estilos del botón de cerrar */
.close-btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: -25px; /* Posicionamos el cuadro a la izquierda */
    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    display: none; /* Ocultar el botón inicialmente */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Mostrar el botón de cerrar cuando el menú esté activo */
.offcanvas.active .close-btn {
    display: flex; /* Mostrar el botón cuando el offcanvas esté activo */
}

/* Estilos del overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 50% */
    z-index: 1000; /* Asegura que esté por debajo del offcanvas */
    display: none; /* Inicialmente oculto */
}

.overlay.active {
    display: block; /* Mostrar el overlay cuando esté activo */
}

/* Estilos del overlay para el historial */
#overlayHistorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

#overlayHistorial.active {
    display: block;
}

/* Media queries para pantallas pequeñas como móviles */
@media (max-width: 768px) {
    .offcanvas {
        right: -88%; /* El menú sale completamente fuera de la vista en móviles */
        width: 88%; /* El panel ocupa el 100% de la pantalla en móviles */
    }

    .offcanvas.active {
        right: 0; /* Mover el panel dentro de la vista cuando esté activo */
    }

    .offcanvas-content {
        padding: 15px; /* Disminuir un poco el padding en móviles */
    }

    /* Ajustar los márgenes para móviles */
    .offcanvas-content h5, .offcanvas-content p {
        margin-left: 15px;  /* Margen izquierdo más pequeño en móviles */
        margin-right: 15px; /* Margen derecho más pequeño en móviles */
        margin-top: 10px;   /* Margen superior */
        margin-bottom: 10px;/* Margen inferior */
    }
}
